*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#headder{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(45deg,
    rgba(0, 128, 255, 0.516),
    rgba(7, 153, 226, 0.729)), url(image/3600945.jpg);

}
.container{
    padding: 10px 10%;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    height: 10vh;
    position: absolute;
    z-index: 2;
   
}
.logo{
    width: 180px;
}
nav ul li{
    display: inline-block;
    list-style: none ;
    margin:10px 10px ;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 5px;
    background: #3586ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    font-size: 50px;
    margin-top:20%;

}
.header-text::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header-text span{
    color: #3100d1 ;
}
.img{
    position: relative;
    left: 750px;
    top: -380px;
    width: 450px;
}
/*----------------About---------------------*/
#about{
    padding: 80px 0;
    color: #ababab;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
     width: 100%;
     /* border-radius: 15px; */
}
.about-col-2{
    flex-basis:60%;
}
.sub-title{
    font-size: 60px;
    font-weight:600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    
}
.tab-links{
    margin-right: 50px; 
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background:#3586ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link:hover::after{
    width: 50px;
}
.tab-contents ul li {
    list-style:none;
    margin: 10px 0;
}
.tab-Contents ul li span{
    color:#3586ff;
    font-size: 14px;
}
.tab-Contents{
    display: none;
}
.tab-Contents.active-tab{
    display: block;
}
/*--------------------------------------------------*/
article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    top: 120px;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  article p{
    color: #080808;
  }
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* body {
    margin: 0;
    padding: 48px 0;
    font-family: "Figtree", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
    min-height: 100vh;
  } */
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 400px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
      
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
/*-----------------services-------------------------*/
#services{
    padding: 30px 0;
}
/* .services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:  40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight:300;
    border-radius: 15px ;
    transition: background 0.5s, transform 0.5s;
} */
/* .services-list div i{
    font-size: 40px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

} */
/* .services-list div a{
    text-decoration:none;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #3586ff;
} */
/* .animated-area{
    background: linear-gradient(to left,#8942a8, #ba382f);
    width: 100%;
    height: 100vh;
} */
.box-area{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.box-area .boxes{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
    
}
.box-area .boxes:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 1.5s;
    animation-duration: 10s;
    border-radius: 25%;
}
.box-area .boxes:nth-child(2){
    left: 12%;
    width: 30px;
    height: 80px;
    animation-delay: 1.5s;
    animation-duration: 18s;
}
.box-area .boxes:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area .boxes:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area .boxes:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area .boxes:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
    
}
/*---------------------------work------------------------*/
#work{
    padding: 40px 0;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
    grid-gap:  40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 30vh;
    border-radius: 10x;
    display: block;
    transition: transfrom 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#0099ff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #3586ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.2);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid #3586ff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    
}
.btn:hover{
    background: #3586ff;
}

/*-------------------------contact-----------------------*/
#contact{
    margin-top: 20%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #3586ff;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 20px; 
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #3586ff;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #3586ff;
}
.from-area{
    background: linear-gradient(5deg,#00ffe1,#ecda39,#fff);
    border-radius: 15px;
    width: 550px;
    margin-left: 120px;
    
}
.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 95%;
    border: 14px;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 20px;
}
.box-area{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.box-area .boxes{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
    
}
.box-area .boxes:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 1.5s;
    animation-duration: 10s;
    border-radius: 25%;
}
.box-area .boxes:nth-child(2){
    left: 12%;
    width: 30px;
    height: 80px;
    animation-delay: 1.5s;
    animation-duration: 18s;
}
.box-area .boxes:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area .boxes:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area .boxes:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area .boxes:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
    
}
/*------------------------------------fotter----------------------------*/
footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 50vh;
    margin-top: 450px;
}
footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social-icon,footer .menu{
    position:relative;
    display: flex;
    align-items: center;
    margin:10px 0;
    flex-wrap: wrap;   
}
footer .social-icon li,footer .menu li{
    list-style: none;
}
footer .social-icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social-icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(image/wave.png);
    background-size: 1000px 100px ; 
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animation 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animation_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animation 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animation_02 3s linear infinite;
}
@keyframes animation {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animation_02 {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
/*-----------------------------css for small screen----------------------*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px){
    #headder{
        background-image: linear-gradient(45deg,
        rgba(66, 39, 39, 0.7),
        rgba(8,83,156, 0.7)),url(image/3600945.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 26px;  
    }
    .img{
        display: none;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: linear-gradient(145deg,#03b5dd,#2bff00a2);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 30px 10%;
        z-index: 2;
    }
    nav ul li{
        display: flex;
        justify-content: center;
        margin:30px 20% ;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #about{
        height: 100vh;
    }
    #services{
        margin-top: 150%;
        left: 10px;
    }
    .article-wrapper{
        left: 5px;
    }
    #work{
        margin-top: 100%;
    }
    #contact{
        margin-top: 200%;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font: size 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }

}
